<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top dark-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i style="color:#ffffff;" class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <span class="light">Travelco</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="/login">Sign in</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="clearfix" style="margin-top: 100px;"></div>
<section class="container content-section text-center plan-checkout">
  <div class="row">
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-passed" style="width: 25%">
        <div>Location <i class="fa fa-check"></i></div>
      </div>
      <div class="progress-bar progress-bar-success progress-bar-passed" style="width: 25%">
        <div>Hotel <i class="fa fa-check"></i></div>
      </div>
      <div class="progress-bar progress-bar-success" style="width: 25%">
        <div>Transport <i class="fa fa-circle"></i></div>
      </div>
      <div class="progress-bar progress-bar-striped" style="width: 25%">
        <div>Activities</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 style="margin-top: 20px;">Pick a means Transport</h2>

      <ul class="hotel-box">
        <li class="col-md-4 hotel" *ngFor="let transport of transports" (click)="goToActivities(transport.end_id)">
          <div class="hotel-inner">
            <img *ngIf="transport.transport_type == 'AIRPLANE'" src="../../assets/img/airplane-placeholder.jpg" />
            <img *ngIf="transport.transport_type == 'BUS'" src="../../assets/img/bus-placeholder.jpg" />
            <img *ngIf="transport.transport_type == 'TRAIN'" src="../../assets/img/train-placeholder.jpg" />
            <ul class="fa-ul hotel-box-item">
              <li><i class="fa-li fa fa-home"></i>Zagreb</li>
              <li><i class="fa-li fa fa-plane"></i>{{transport.end_name}}</li>
              <li><i class="fa-li fa fa-clock-o"></i>{{transport.duration}} hours</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

