<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top dark-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i style="color:#ffffff;" class="fa fa-bars"></i>
      </button>
      <a (click)="goHome()" class="navbar-brand page-scroll">
        <span class="light">Travelco Data Statistics</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a (click)="goHome()"></a>
        </li>
        <li>
          <a class="page-scroll">Howdy, Hotel tester</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="clearfix" style="margin-top: 100px;"></div>
<section class="container content-section text-center statistics-view">
  <div *ngIf="foodData.length > 0" class="row">
    <h3>Food Ordering</h3>
    <div style="display: block">
      <canvas #foodChart baseChart
              [data]="foodData"
              [labels]="foodLabels"
              [legend]="false"
              [chartType]="'bar'"
              (chartHover)="chartHovered($event)"
              [options]="lineChartOptions"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div *ngIf="imageData.length > 0" class="row">
    <h3>Popular Landmarks</h3>
    <div style="display: block">
      <canvas #imageChart baseChart
              [data]="imageData"
              [labels]="imageLabels"
              [legend]="polarAreaLegend"
              [chartType]="polarAreaChartType"
              (chartHover)="chartHovered($event)"
              [options]="lineChartOptions"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div *ngIf="activityData.length > 0" class="row">
    <h3>Popular Activities</h3>
    <div style="display: block">
      <canvas #activityChart baseChart
              [data]="activityData"
              [labels]="activityLabels"
              [legend]="false"
              [chartType]="'bar'"
              (chartHover)="chartHovered($event)"
              [options]="lineChartOptions"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div *ngIf="transportData.length > 0" class="row">
    <h3>Popular Transports</h3>
    <div style="display: block">
      <canvas #transportChart baseChart
              [data]="transportData"
              [labels]="transportLabels"
              [legend]="polarAreaLegend"
              [chartType]="'bar'"
              (chartHover)="chartHovered($event)"
              [options]="lineChartOptions"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</section>

