<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i style="color:#ffffff;" class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <span class="light">Travelco</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="/login">Sign in</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<section id="joggling" class="container content-section text-center">
  <div class="row">
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: 25%">
        <span>Location</span>
      </div>
      <div class="progress-bar progress-bar-success" style="width: 25%">
        <span>Hotel</span>
      </div>
      <div class="progress-bar progress-bar-striped" style="width: 25%">
        <span>Transport</span>
      </div>
      <div class="progress-bar progress-bar-striped" style="width: 25%">
        <span>Activities</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Pick a Hotel</h2>
    </div>
  </div>
</section>

