<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i style="color:#ffffff;" class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/home">
        <span class="light">Travelco</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="/home"></a>
        </li>
        <li>
          <a *ngIf="!user.id" class="page-scroll" href="/login">Sing in</a><a *ngIf="user.id" class="page-scroll" href="#">Howdy, {{user.ime}}</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="brand-heading">Where do you wish to travel?</h4>
          <div class="row">
              <div class="input-group">
                <input (keyup)="search()" [(ngModel)]="searchParam" type="text" class="form-control big-search-bar" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default big-search-btn" type="button">SEARCH</button>
                </span>
              </div><!-- /input-group -->
          </div><!-- /.row -->
          <div class="row">
            <div class="clearfix"></div>
            <ul class="locations-dropdown">
              <li (click)="goToPlaner(location.id)" *ngFor="let location of locations">
                {{location.loc_name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

