<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top dark-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i style="color:#ffffff;" class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/home">
        <span class="light">Travelco</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="/home"></a>
        </li>
        <li>
          <a *ngIf="!user.id" class="page-scroll" href="/login">Sing in</a><a *ngIf="user.id" class="page-scroll" href="#">Howdy, {{user.ime}}</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="clearfix" style="margin-top: 100px;"></div>
<section class="container content-section text-center plan-checkout">
  <div class="row">
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-passed" style="width: 25%">
        <div>Location <i class="fa fa-check"></i></div>
      </div>
      <div class="progress-bar progress-bar-success progress-bar-passed" style="width: 25%">
        <div>Hotel <i class="fa fa-check"></i></div>
      </div>
      <div class="progress-bar progress-bar-success progress-bar-passed" style="width: 25%">
        <div>Transport <i class="fa fa-check"></i></div>
      </div>
      <div *ngIf="selectedActivities.length == 0" class="progress-bar progress-bar-success" style="width: 25%">
        <div>Activities <i class="fa fa-circle"></i></div>
      </div>
      <div *ngIf="selectedActivities.length > 0" class="progress-bar progress-bar-passed" style="width: 25%">
        <div>Activities <i class="fa fa-check"></i></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div (click)="goToSummary()" *ngIf="selectedActivities.length > 0" class="progress-bar progress-bar-success summary-button" style="width: 25%">
      <div>Plan summary <i class="fa fa-file"></i></div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h2 style="margin-top: 20px;">Select activities</h2>
      <ul class="hotel-box">
        <li class="col-md-4 hotel" *ngFor="let activity of activities">
          <div class="hotel-inner selected-activity" *ngIf="isSelected(activity.id) == true"
               (click)="deselectActivity(activity.id)">
            <div class="activity-header"><i class="fa fa-tag"></i>{{activity.activity_name}}</div>
            <ul class="fa-ul hotel-box-item">
              <li><i class="fa-li fa fa-clock-o"></i>{{activity.duration}} hours</li>
              <li><i class="fa-li fa fa-file-text"></i>
                <span class="activity-description">{{activity.activity_description}}</span>
              </li>
            </ul>
          </div>
          <div class="hotel-inner" *ngIf="isSelected(activity.id) == false" (click)="selectActivity(activity.id)">
            <div class="activity-header"><i class="fa fa-tag"></i>{{activity.activity_name}}</div>
            <ul class="fa-ul hotel-box-item">
              <li><i class="fa-li fa fa-clock-o"></i>{{activity.duration}} hours</li>
              <li><i class="fa-li fa fa-file-text"></i>
                <span class="activity-description">{{activity.activity_description}}</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

