<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top dark-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i style="color:#ffffff;" class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/home">
        <span class="light">Travelco</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="/home"></a>
        </li>
        <li>
          <a *ngIf="!user.id" class="page-scroll" href="/login">Sign in</a><a *ngIf="user.id" class="page-scroll" href="#">Howdy, {{user.ime}}</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<div class="clearfix" style="margin-top: 100px;"></div>
<section class="container content-section text-center plan-checkout" style="text-align: center">
  <div class="row">
    <div class="progress">
      <div class="progress-bar progress-bar-success progress-bar-passed" style="width: 25%">
        <div>Location <i class="fa fa-check"></i></div>
      </div>
      <div class="progress-bar progress-bar-striped" style="width: 25%">
        <div>Hotel</div>
      </div>
      <div class="progress-bar progress-bar-striped" style="width: 25%">
        <div>Transport</div>
      </div>
      <div class="progress-bar progress-bar-striped" style="width: 25%">
        <div>Activities</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4 style="margin-bottom: 0px" class="brand-heading">Your Location: {{location.loc_name}}</h4>
      <button (click)="goToHotel(location.id)" class="btn btn-default create-new-plan">Plan your trip</button><br /><br/>
      <input class="form-control plan-new-name" [(ngModel)]="planName" type="text" /><br /><br/>
        <div class="clearfix"></div>
        <h4 class="brand-heading">Or choose existing</h4>
        <ul class="plans-list">
          <li *ngFor="let plan of plans" (click)="goToPlanSummary(plan.id)">
            <i class="fa fa-file-text"></i>
            {{plan.plan_name}}
          </li>
        </ul>
    </div>
  </div>
</section>



