html,
body {
	margin: 0;
	padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bx-wrapper .bx-caption span {
	font-size: 24px !important;
}

.bxslider li a {
	cursor: help;
}

.bxslider li img {
	transition: all 0.3s;
}

.bxslider li a:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.page-scroll.dark-version {
	border-color: #000000;
	color: #000000;
}

.banner-social-buttons li {
	margin-bottom: 15px;
}

.big-search-bar {
  height: 50px;
  border: 0 !important;
}

.big-search-bar:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.big-search-btn {
  height: 50px;
  border-radius: 0;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.big-search-btn {
  border: 1px solid #ff9800;
  color: #fff;
  background-color: #ff9800;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

.big-search-btn:hover,
.big-search-btn:focus {
  outline: none;
  border: 1px solid #ef6c00;
  outline: 0;
  color: #fff;
  background-color: #ef6c00;
}

.brand-heading {
  font-size: 48px !important;
}

.locations-dropdown {
  background: #fff;
  color: #000;
  margin-top: 10px;
  width: 92.7%;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.locations-dropdown li {
  cursor: pointer;
  text-align: left;
  font-size: 24px;
  border-bottom: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 15px;
}

.create-new-plan {
  max-width: 400px;
  width: 100%;
  background-color: #ff9800;
  border: none;
  color: #fff;
  height: 80px;
  font-weight: 700;
  margin: 80px 0 0 0;
  border-radius: 5px;
  font-size: 32px;
}

.create-new-plan:hover,
.create-new-plan:focus
{
  background-color: #ef6c00;
  border: 0;
}

.plan-checkout {
  text-align: left;
}

.progress-bar-success {
  background-color: #ef6c00 !important;
  border-right: 5px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.progress {
  display: block;
}

.progress-bar-striped {
  background-color: #5e5e5e !important;
  border-right: 5px solid #fff;
}

.progress-bar-passed {
  background-color: #4cae4c !important;
}

.progress-bar:last-child {
  border-right: 0 !important;
}

.progress {
  height: 50px !important;
}

.progress-bar div {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.summary-button {
  float: right;
  background-color: #2e6da4 !important;
}

.hotel {
  cursor: pointer;
}

.hotel:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hotel:hover .hotel-inner {
  border-bottom: 1px solid #ef6c00;
}

.hotel-inner {
  overflow: hidden;
  border: 1px solid #eee;
  padding-bottom: 10px;
}

.hotel-box {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.hotel-box > li {
  font-size: 28px;
  background: #fff;
}

.hotel-box img {
  width: 100%;
  transition: all 0.3s;
}

.hotel-box-item {
  margin-top: 15px;
}

.li {
  margin-left: 40px;
}

.fa-star {
  margin-right: 10px;
  color: #ffe900;
}

.selected-activity .activity-header {
  background-color: #ef6c00;
}

.activity-header {
  background-color: #000000;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
}

.activity-header .fa {
  margin-right: 15px;
}

.activity-description {
  font-size: 16px;
}

.summary-card {
  background-color: #ffcc80;
}

.summary-confirm-button {
  margin-bottom: 40px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 24px;
}

.plans-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.plans-list li {
  font-size: 24px;
  cursor: pointer;
  background: #eee;
  color: #000;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.plans-list li:hover {
  background: #e3e3e3;
}

.plans-list li i {
  margin-right: 20px;
}

.plan-new-name {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

button {
  cursor: pointer;
}

.content-section,
.statistics-view .row {
  margin-bottom: 100px;
}

.statistics-view select {
  text-align: center;
  font-size: 24px !important;
  height: 50px;
}

a {
  cursor: pointer;
}

@media(max-width:768px) {
	.content-section img {
		width: 98%;
	}
}
